.card {
    display: flex;
    border: 1px solid gray;
    padding: 1.2rem;
    gap: 4px;
}

.card-img{
    width: 200;
    height: 350;
    object-fit: contain;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.spacer{
    flex-grow: 1;
}

.card-action{
    display: flex;
    flex-direction: column;
}
ul{
    padding-left: 0px;
}

li{
    list-style: none;
    margin-bottom:4px;
}

